//サイドバー上部の設定
.top-items {
  height: 20px;
  width: 260px;
  @include display-flex(1);
  line-height: 20px;
  &__name {
    @include font-contents(16px, $white, 1);
  }
  &__icons {
    width: 60px;
    text-align: right;
    .top-link {
      @include font-contents(0, $white, 0, 1);
    }
    .top-con {
      margin-left: 5px;
    }
  }
}

//グループリストの設定
.group {
  width: 100%;
  margin-bottom: 40px;
  &__link {
    @include font-contents(0, $white, 0, 1);
    &--name {
      @include font-contents(15px);
      margin-bottom: 5px;
    }
    &--message{
       @include font-contents(11px);
    }
  }
}
